/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: "Lato", sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__info-link {
  font-family: "fantasy", cursive;
}

@media (max-width: 768px) {

  .header {
    text-align: center;
  }

}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.todo-section__label_task,
.todo-section__input_task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.todo-section__row-wrap {
  display: flex;
}

.todo-section__list {
  margin: 0;
  padding: 0px;
}

.todo-section__task-item,
.todo-section__title {
  list-style: none;
}

.todo-section__input,
.button{
  outline: none;
}

.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

.button:hover {
  color: #3a3a3a;
}

/* Heading */
.todo-section__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.todo-section__input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  color: #888;
}

.todo-section__input[type="text"]:focus {
  color: #333;
}

/* New Task */
.todo-section__title_add-block {
  display: block;
  margin: 0 0 20px;
}

.todo-section__input_new-task {
  width: 318px;
}

/* Task list */
.todo-section__task-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-section__task-item {
  vertical-align: middle;
}

.todo-section__task-item > .todo-section__input[type="checkbox"] {
  margin: 0 10px;
}

.todo-section__task-item > .todo-section__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.todo-section__task-item >    .todo-section__input[type="text"] {
  width: 226px;
}

.button__delete-icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.button__delete-icon:hover {
  transform: rotateZ(0);
}

/* Completed */
.todo-section__list_completed .todo-section__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.todo-section__task-item .todo-section__input[type="text"] {
  display: none;
}

.todo-section__task-item_edit .todo-section__input[type="text"] {
  display: inline-block;
  width: 224px;
}

.todo-section__task-item_edit .todo-section__label {
  display: none;
}